sylius_admin_report:
    resource: |
        alias: sylius.report
        section: admin
        templates: SyliusAdminBundle:Crud
        except: ['show', 'delete']
        redirect: update
        grid: sylius_admin_report
        permission: true
        vars:
            all:
                subheader: sylius.ui.manage_reports
                templates:
                    form: SyliusReportBundle::_form.html.twig
            index:
                icon: bar chart
    type: sylius.resource

sylius_admin_report_show:
    path: /reports/{id}
    methods: [GET]
    defaults:
        _controller: sylius.controller.report:renderAction
        _sylius:
            template: 'SyliusReportBundle::show.html.twig'